# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc


# Data folder (raw / processed datasets)
data/

# Virtual environments
venv/
.env/

# OS files
.DS_Store
Thumbs.db
